title {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url(Images/DL.png);
	background-size: cover;
	color: #FF0021;
	font-size: 30px;

}
h1 {
	padding-top: 10px;
	font-size: 150px;
	color: #FF0021;
	text-shadow: 10px 1px 1px rgb(0, 0, 0, 0.3);
	margin: 80px 0 50px;
}

p{
	margin: 0 0 20px;
	color: #000;

}

ul {
	font-size: 50px;
	list-style: none;
	padding-left: 0;
	margin-top: 85px;
}

ul > li {
	display: inline-block;
	margin: 0 5px;
}

.fa-facebook {
	color: blue;
}

.fa-youtube {
	color: red;
}